/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.css";

html, body { height: 100%;
margin: 0;
}

body { font-family: var(--font-family); }


.mdc-list-item__primary-text{
  color: black !important;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.space-dialog-buttons{
  display: flex;
  justify-content: space-around !important;
}
